.validationBanner {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 0rem;
  color: lightgray;
  width: 100%;
  opacity: 1;
  z-index: 1000;
  text-align: center;
  display: block;
  transition: height 1s;
  overflow: hidden;
  background-color: rgb(215, 103, 85);
 
}
.validationBanner h2{
    margin-bottom: 0.3rem;
}

.validationBanner--expanded {
  height: 6rem;
  transition: height 1s;
  border-bottom: 4px solid #990000;
}

.dismissButton {
  background-color: transparent;
  border: none;
  color: lightgray;
  text-decoration: underline;
  font-weight: 500;
}
